<div class="container-fluid px-4">
    <h1 class="mt-4">Manager Categories</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>
    <div id="search" class="row">
        <div class="form-group col-6">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">
        </div>
        <div class="form-group col-6">
            <label for="description">Description</label>
            <input type="text" name="description" class="form-control" id="description" placeholder="Enter description">
        </div>
        <div class="form-group col-6">
            <label for="parrentId">Parrent category</label>
            <select id="parrentId" name="parrentId" class="form-select">
                <option selected value="">Not set</option>
                {{#each categories}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-6">
            <label for="childId">Children category</label>
            <select id="childId" name="childId" class="form-select">
                <option selected value="">Not set</option>
                {{#each categories}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-6">
            <label for="isDeleted">Is deleted</label>
            <select id="isDeleted" name="isDeleted" class="form-select">
                <option selected value="">All</option>
                <option value="false">False</option>
                <option value="true">True</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="createdAt">Created at</label>
            <input type="createdAt" name="createdAt" class="form-control" id="createdAt" placeholder="Enter createdAt">
        </div>
        <div class="form-group col-6">
            <label for="updatedAt">Updated at</label>
            <input type="updatedAt" name="updatedAt" class="form-control" id="updatedAt" placeholder="Enter updatedAt">
        </div>
        <div class="form-group col-6">
            <label for="createdBy">Created by</label>
            <select id="createdBy" name="createdBy" class="form-select">
                <option selected value="">Not set</option>
                {{#each users}}
                <option value="{{this._id}}">{{this.fullname}}-{{this.email}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-6">
            <label for="Updated by">Updated by</label>
            <select id="updatedBy" name="updatedBy" class="form-select">
                <option selected value="">Not set</option>
                {{#each users}}
                <option value="{{this._id}}">{{this.fullname}}-{{this.email}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-6">
            <label for="Deleted by">Deleted by</label>
            <select id="deletedBy" name="deletedBy" class="form-select">
                <option selected value="">Not set</option>
                {{#each users}}
                <option value="{{this._id}}">{{this.fullname}}-{{this.email}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class=" mb-1 mt-2">
        <button type="button" class="btn btn-primary btn-search">Search</button>
        <button type="button" class="btn btn-primary btn-add">Add</button>
        <button type="button" class="btn btn-primary btn-view">View</button>
        <button type="button" class="btn btn-primary btn-update">Update</button>
        <button type="button" class="btn btn-primary btn-delete">Delete</button>
        <button type="button" class="btn btn-primary btn-import">Import</button>
        <button type="button" class="btn btn-primary btn-export">Export</button>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Categories
        </div>
        <div class="card-body">
            <div class="input-group" style="width: 200px;">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Per page</button>
                    <div class="dropdown-menu">
                        <div class="dropdown-item perPageItem">10</div>
                        <div class="dropdown-item perPageItem">50</div>
                        <div class="dropdown-item perPageItem">100</div>
                        <div class="dropdown-item perPageItem">200</div>
                        <div class="dropdown-item perPageItem">500</div>
                    </div>
                </div>
                <input id="perPage" type="number" name="perPage" min="1" value="10" class="form-control">
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><input class="checkAll" type="checkbox"></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Deleted</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                    </tr>
                </thead>
                <tbody class="results">

                </tbody>
            </table>
            <ul class="pagination" style="display: flex; justify-content: flex-end;">

            </ul>
        </div>
    </div>
</div>
<div id="add" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ADD CATEGORY</h5>
            </div>
            <div class="modal-body row">
                <div class="form-group col-6">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">
                </div>
                <div class="form-group col-6">
                    <label for="parentId">Parent category</label>
                    <select id="parentId" name="parentId" class="form-select">
                        <option selected value="">Not set</option>
                        {{#each categories}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="childId">Children category</label>
                    <select id="childId" name="childId" class="form-select">
                        <option selected value="">Not set</option>
                        {{#each categories}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-12">
                    <label for="description">Description</label>
                    <textarea type="text" name="description" class="form-control" id="description" rows="4"
                        placeholder="Enter description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-add-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-add-save">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="view" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">VIEW CATEGORY</h5>
            </div>
            <div class="modal-body row">
                <div class="form-group col-6">
                    <label for="name">Name</label>
                    <input type="text" disabled name="name" class="form-control" id="name">
                </div>
                <div class="form-group col-6">
                    <label for="parentId">Parent category</label>
                    <input type="text" disabled name="parentId" class="form-control" id="parentId">
                </div>
                <div class="form-group col-6">
                    <label for="childId">Children category</label>
                    <input type="text" disabled name="childId" class="form-control" id="childId">
                </div>
                <div class="form-group col-12">
                    <label for="description">Description</label>
                    <textarea type="text" disabled name="description" class="form-control" id="description" rows="4"
                        placeholder="Enter description"></textarea>
                </div>
                <div class="form-group col-6">
                    <label for="isDeleted">Is deleted</label>
                    <select disabled id="isDeleted" name="isDeleted" class="form-select">
                        <option value="false">False</option>
                        <option value="true">True</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="createdAt">Created at</label>
                    <input type="text" disabled name="createdAt" class="form-control" id="createdAt">
                </div>
                <div class="form-group col-6">
                    <label for="updatedAt">Updated at</label>
                    <input type="text" disabled name="updatedAt" class="form-control" id="updatedAt">
                </div>
                <div class="form-group col-6">
                    <label for="createdBy">Created by</label>
                    <input type="text" disabled name="createdBy" class="form-control" id="createdBy">
                </div>
                <div class="form-group col-6">
                    <label for="updatedBy">Updated by</label>
                    <input type="text" disabled name="updatedBy" class="form-control" id="updatedBy">
                </div>
                <div class="form-group col-6">
                    <label for="deletedBy">Deleted by</label>
                    <input type="text" disabled name="deletedBy" class="form-control" id="deletedBy">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-view-cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="update" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">EDIT CATEGORY</h5>
            </div>
            <div class="modal-body row">
                <div class="form-group col-6">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">
                </div>
                <div class="form-group col-6">
                    <label for="parentId">Parent category</label>
                    <select id="parentId" name="parentId" class="form-select">
                        <option selected value="">Not set</option>
                        {{#each categories}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="childId">Children category</label>
                    <select id="childId" name="childId" class="form-select">
                        <option selected value="">Not set</option>
                        {{#each categories}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-12">
                    <label for="description">Description</label>
                    <textarea type="text" name="description" class="form-control" id="description" rows="4"
                        placeholder="Enter description"></textarea>
                </div>
                <div class="form-group col-6">
                    <label for="isDeleted">Is deleted</label>
                    <select id="isDeleted" name="isDeleted" class="form-select">
                        <option value="false">False</option>
                        <option value="true">True</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="createdAt">Created at</label>
                    <input type="text" disabled name="createdAt" class="form-control" id="createdAt">
                </div>
                <div class="form-group col-6">
                    <label for="updatedAt">Updated at</label>
                    <input type="text" disabled name="updatedAt" class="form-control" id="updatedAt">
                </div>
                <div class="form-group col-6">
                    <label for="createdBy">Created by</label>
                    <input type="text" disabled name="createdBy" class="form-control" id="createdBy">
                </div>
                <div class="form-group col-6">
                    <label for="updatedBy">Updated by</label>
                    <input type="text" disabled name="updatedBy" class="form-control" id="updatedBy">
                </div>
                <div class="form-group col-6">
                    <label for="deletedBy">Deleted by</label>
                    <input type="text" disabled name="deletedBy" class="form-control" id="deletedBy">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-update-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-update-save">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="delete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">DELETE CATEGORY</h5>
            </div>
            <div class="modal-body row">
                <p>Are you sure to delete these categories? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-delete-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-delete-save">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div id="import" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">IMPORT CATEGORIES</h5>
            </div>
            <div class="modal-body row">
                <div class="form-group col-6">
                    <label for="name">File</label>
                    <input type="file"
                        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                        name="file" class="form-control" id="file">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-import-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-import-save">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div id="export" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">EXPORT CATEGORIES</h5>
            </div>
            <div class="modal-body row">
                <div class="form-group col-12">
                    You want to export all categories or only categories in current page?
                </div>
                <div class="form-group col-6">
                    <label for="type">Type</label>
                    <select id="type" name="type" class="form-select">
                        <option value="all">All</option>
                        <option value="currentPage">Current Page</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-export-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-export-save">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script>
    const search = async (query = {}) => {
        let params = "";
        for (let key in query) {
            if (!!query[key]) {
                params += `${key}=${query[key]}&`;
            }
        }
        const pagination = await fetch(`/admin/categories/search?${params}`).then(res => res.json());
        return pagination;
    }
    const updateTable = (categories) => {
        const tbody = $("tbody.results");
        $(".checkAll").prop('checked', false);
        tbody.empty();
        categories.forEach(user => {
            tbody.append(`
                <tr>
                    <td><input class="checkItem" value="${user._id}" type="checkbox"></td>
                    <td>${user.name}</td>
                    <td>${user.description || ""}</td>
                    <td>${user.isDeleted}</td>
                    <td>${!!user.createdAt ? moment(user.createdAt).format('DD/MM/YY HH:mm') : ""}</td>
                    <td>${!!user.updatedAt ? moment(user.updatedAt).format('DD/MM/YY HH:mm') : ""}</td>
                </tr>
            `);
        });
    }
    const updatePagination = (totalPage = 0, page = 1) => {
        const paginationTag = $(".pagination");
        paginationTag.empty();
        if (page > 1) {
            paginationTag.append(`<li class="page-item page-preview "><a class="page-link" href="#">Previous</a></li>`);
        } else {
            paginationTag.append(`<li class="page-item page-preview disabled"><a class="page-link" href="#">Previous</a></li>`);
        }
        for (let i = 1; i <= totalPage; i++) {
            if (i == page) {
                paginationTag.append(`<li class="page-item page-item-number active"><a class="page-link" href="#">${i}</a></li>`);
            } else {
                paginationTag.append(`<li class="page-item page-item-number"><a class="page-link" href="#">${i}</a></li>`);
            }
        }
        if (page < totalPage) {
            paginationTag.append(`<li class="page-item page-next"><a class="page-link" href="#">Next</a></li>`);
        } else {
            paginationTag.append(`<li class="page-item page-next disabled"><a class="page-link" href="#">Next</a></li>`);
        }
    }
    const clearInputs = (parrentId) => {
        $(`#${parrentId} input`).val("");
        $(`#${parrentId} textarea`).val("");
        $(`#${parrentId} select`).val("");
    }

    $(document).ready(async function () {
        $('input[name="createdAt"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear',
                format: 'DD/MM/YYYY',
            }
        });
        $('input[name="createdAt"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        });
        $('input[name="createdAt"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
        $('input[name="updatedAt"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear',
                format: 'DD/MM/YYYY',
            }
        });
        $('input[name="updatedAt"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        });

        $('input[name="updatedAt"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

        const pagination = await search();
        const { totalPage = 0, page = 1, data = [] } = pagination;
        updateTable(data);
        updatePagination(totalPage, page);

        $(".checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
        $(".checkItem").click(function () {
            const checkAll = $(".checkItem").toArray().every(item => item.checked);
            $(".checkAll").prop('checked', checkAll);
        });
        $(".perPageItem").click(async function () {
            const perPage = $(this).text();
            $("#perPage").val(perPage);
        });
        $("#perPage").on("input", async function () {
            const perPage = $(this).val();
            searchAction();
        });
        $(".pagination").on("click", ".page-next", async function () {
            const currentPage = Number.parseInt($(".pagination .active").text()) || 1;
            $(".pagination .active").removeClass("active");
            $(`.pagination .page-item-number`)[currentPage].classList.add("active");
            searchAction();
        });
        $(".pagination").on("click", ".page-preview", async function () {
            const currentPage = $(".pagination .active").text() || 2;
            $(".pagination .active").removeClass("active");
            $(`.pagination .page-item-number`)[currentPage - 2].classList.add("active");
            searchAction();
        });
        $(".pagination").on("click", ".page-item-number", async function () {
            $(".pagination .active").removeClass("active");
            $(this).addClass("active");
            searchAction();
        });
        const searchAction = async function () {
            const name = $("#search #name").val();
            const description = $("#search #description").val();
            const isDeleted = $("#search #isDeleted").val();
            const createdAt = $("#search #createdAt").val();
            const updatedAt = $("#search #updatedAt").val();
            const createdBy = $("#search #createdBy").val();
            const updatedBy = $("#search #updatedBy").val();
            const deletedBy = $("#search #deletedBy").val();
            const perPage = $("#perPage").val() || 10;
            const currentPage = $(".pagination .active").text() || 1;
            const query = {
                name,
                description,
                isDeleted,
                createdAt,
                updatedAt,
                createdBy,
                updatedBy,
                deletedBy,
                limit: perPage,
                page: currentPage
            };
            const pagination = await search(query);
            const { totalPage = 0, page = 1, data = [] } = pagination;
            updateTable(data);
            updatePagination(totalPage, page);
        };
        $(".btn-search").click(searchAction);
        $(".btn-add").click(function () {
            $("#add").modal("show");
        });
        $(".btn-add-cancel").click(function () {
            $("#add").modal("hide");
        });
        $(".btn-add-save").click(async function () {
            const name = $("#add #name").val();
            const description = $("#add #description").val();
            const parentId = $("#add #parentId").val();
            const childId = $("#add #childId").val();
            const body = {
                name,
                description,
                parentId: parentId ? parentId : undefined,
                childId: childId ? childId : undefined
            };
            const res = await fetch("/admin/categories", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(body)
            }).then(res => res.json());
            clearInputs("add");
            if (res.errorCode == 0) {
                $("#add").modal("hide");
                const pagination = await search();
                const { totalPage = 0, page = 1, data = [] } = pagination;
                updateTable(data);
                updatePagination(totalPage, page);
            } else {
                alert(res.message);
            }
        });
        $(".btn-view").click(async function () {
            const checkedItems = $(".checkItem:checked").toArray();
            if (checkedItems.length == 0) {
                alert("Please choose at least one item");
                return;
            }
            if (checkedItems.length > 1) {
                alert("Please choose only one item");
                return;
            }
            const id = checkedItems[0].value;
            const category = await fetch(`/admin/categories/search/${id}`).then(res => res.json());
            $("#view #name").val(category.name);
            $("#view #description").val(category.description);
            $("#view #parentId").val(category?.parentObj?.name || "");
            $("#view #childId").val(category?.childObj?.name || "");
            $("#view #isDeleted").val(`${category.isDeleted}`);
            $("#view #createdAt").val(!!category.createdAt ? moment(category.createdAt).format('DD/MM/YY HH:mm') : "");
            $("#view #updatedAt").val(!!category.updatedAt ? moment(category.updatedAt).format('DD/MM/YY HH:mm') : "");
            $("#view #createdBy").val(!!category.createdByObj ? `${category.createdByObj?.fullname}-${category.createdByObj?.email}` : "");
            $("#view #updatedBy").val(!!category.updatedByObj ? `${category.updatedByObj?.fullname}-${category.updatedByObj?.email}` : "");
            $("#view #deletedBy").val(!!category.deletedByObj ? `${category.deletedByObj?.fullname}-${category.deletedByObj?.email}` : "");
            $("#view").modal("show");
        });
        $(".btn-update").click(async function () {
            const checkedItems = $(".checkItem:checked").toArray();
            if (checkedItems.length == 0) {
                alert("Please choose at least one item");
                return;
            }
            if (checkedItems.length > 1) {
                alert("Please choose only one item");
                return;
            }
            const id = checkedItems[0].value;
            const category = await fetch(`/admin/categories/search/${id}`).then(res => res.json());
            $("#update #name").val(category.name);
            $("#update #description").val(category.description);
            $("#update #parentId").val(category.parentId || "");
            $("#update #parentId option").toArray().forEach(item => {
                if (item.value == category._id) {
                    item.classList.add("d-none");
                }
            });
            $("#update #childId").val(category.childId || "");
            $("#update #childId option").toArray().forEach(item => {
                if (item.value == category._id) {
                    item.classList.add("d-none");
                }
            });
            $("#update #isDeleted").val(`${category.isDeleted}`);
            $("#update #createdAt").val(!!category.createdAt ? moment(category.createdAt).format('DD/MM/YY HH:mm') : "");
            $("#update #updatedAt").val(!!category.updatedAt ? moment(category.updatedAt).format('DD/MM/YY HH:mm') : "");
            $("#update #createdBy").val(!!category.createdByObj ? `${category.createdByObj?.fullname}-${category.createdByObj?.email}` : "");
            $("#update #updatedBy").val(!!category.updatedByObj ? `${category.updatedByObj?.fullname}-${category.updatedByObj?.email}` : "");
            $("#update #deletedBy").val(!!category.deletedByObj ? `${category.deletedByObj?.fullname}-${category.deletedByObj?.email}` : "");
            $("#update").modal("show");
        });
        $(".btn-update-cancel").click(function () {
            $("#update").modal("hide");
        });
        $(".btn-update-save").click(async function () {
            const checkedItems = $(".checkItem:checked").toArray();
            const id = checkedItems[0].value;
            const name = $("#update #name").val();
            const parentId = $("#update #parentId").val();
            const childId = $("#update #childId").val();
            const description = $("#update #description").val();
            const isDeleted = $("#update #isDeleted").val();
            const body = {
                id,
                name,
                parentId: parentId ? parentId : null,
                childId: childId ? childId : null,
                description,
                isDeleted
            };
            const res = await fetch(`/admin/categories`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(body)
            }).then(res => res.json());
            clearInputs("update");
            if (res.errorCode == 0) {
                $("#update").modal("hide");
                const pagination = await search();
                const { totalPage = 0, page = 1, data = [] } = pagination;
                updateTable(data);
                updatePagination(totalPage, page);
            } else {
                alert(res.message);
            }
        });
        $(".btn-delete").click(function () {
            const checkedItems = $(".checkItem:checked").toArray();
            if (checkedItems.length == 0) {
                alert("Please choose at least one item");
                return;
            }
            $("#delete").modal("show");
        });
        $(".btn-delete-cancel").click(function () {
            $("#delete").modal("hide");
        });
        $(".btn-delete-save").click(async function () {
            const checkedItems = $(".checkItem:checked").toArray();
            const ids = checkedItems.map(item => item.value);
            const body = {
                ids
            };
            const res = await fetch(`/admin/categories`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(body)
            }).then(res => res.json());
            if (res.errorCode == 0) {
                $("#delete").modal("hide");
                const pagination = await search();
                const { totalPage = 0, page = 1, data = [] } = pagination;
                updateTable(data);
                updatePagination(totalPage, page);
            } else {
                alert(res.message);
            }
        });
        $(".btn-import").click(function () {
            $("#import").modal("show");
        });
        $(".btn-import-cancel").click(function () {
            $("#import").modal("hide");
        });
        $(".btn-import-save").click(async function () {
            const file = $("#import #file").val();
            if (!file) {
                alert("Please choose file");
                return;
            }
            //do to import user
            $("#import").modal("hide");
        });
        $(".btn-export").click(function () {
            $("#export").modal("show");
        });
        $(".btn-export-cancel").click(function () {
            $("#export").modal("hide");
        });
        $(".btn-export-save").click(async function () {
            const type = $("#export #type").val();
            if (type == "all") {
                //do to export all
            } else {
                //do to export current page
            }
            $("#export").modal("hide");
        });
    });
</script>